aws {
	client {
		s3PathStyleAccess = true
		endpoint = 'https://s3.climb.ac.uk'
	}

}

docker {
  enabled = true
  envWhitelist = 'AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY'
}


fusion {
  enabled = true
}

wave {
    enabled = true
}

conda.enabled = true

process.conda = "$baseDir/environments/kraken2.yaml"
conda.cacheDir = "/home/jovyan/work/conda"